@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Squada+One:400');

body {
    margin: 0;
}
p {
    margin: 0;
}
strong {
    font-weight: 700;
}

/* GRAFICO */
.grafico {
    margin: 0 0 16px 0;
}
.grafico figcaption {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 1.15;
    text-align: left;
    color: #4d4d4d;
    margin: 0 0 30px 0;
}


/* CAROUSEL */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%
}
[id^="carousel__slide"] + figure {
    position: absolute;
    opacity: 0;
    transition: opacity .6s ease-out;
}
[id^="carousel__slide"] + figure img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
[id^="carousel__slide"]:checked + figure {
    position: static;
    opacity: 100
}
[class^="carousel__controle"] {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    text-align: center;
    line-height: 28px;
    color: #2727cc;
    height: 30px;
    width: 30px;
    border: solid 1px #2727cc;
}
[class^="carousel__controle"]:hover {
    background: #2727cc;
    color: #ffffff;
}
[class^="carousel__controle"]:nth-child(odd) {
    left: 0;
}
[class^="carousel__controle"]:nth-child(even) {
    right: 0;
}
#carousel__slide1:checked ~ .carousel__controle1,
#carousel__slide2:checked ~ .carousel__controle2,
#carousel__slide3:checked ~ .carousel__controle3,
#carousel__slide4:checked ~ .carousel__controle4,
#carousel__slide5:checked ~ .carousel__controle5,
#carousel__slide6:checked ~ .carousel__controle6,
#carousel__slide7:checked ~ .carousel__controle7,
#carousel__slide8:checked ~ .carousel__controle8,
#carousel__slide9:checked ~ .carousel__controle9 {
    display: block;
}


/* HERO */
.hero {
    position: relative;
    height: 570px;
    background: url("../img/02-header-mobile.svg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hero h1 {
    position: absolute;
    left: 30px;
    bottom: 40px;
    font-family: 'Squada One', cursive;
    font-size: 35px;
	line-height: 1.0;
	color: #dc4b4b;
}
@media (min-width: 768px) {
    .hero h1 {
        max-width: 45%;
    }
}


/* CONTAINER */
@media (min-width: 768px) {
    .container section header, 
    .container section article {
        max-width: 80%;
    }
}
@media (min-width: 992px) {
    .container section header, 
    .container section article {
        max-width: 58%;
        margin-left: 8%;
    }
}


/* CAPITULOS */
.capitulo {
    position: relative;
}
.capitulo > header > h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.capitulo > header > h2 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic; 
    line-height: 1.39;
    color: #dc4b4b;
    margin: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}
.capitulo > article > p {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 1.72;
    color: #4d4d4d;
}
.capitulo > article > p:not(:first-child) {
    padding-top: 2rem;
}
.capitulo > article > blockquote {
    border: none;
}
.capitulo > article > blockquote > p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    color: #dc4b4b;
}
.capitulo > article > blockquote > cite {
    font-family: 'Squada One', cursive;
    font-size: 16px;
    line-height: 1.25;
    color: #828282;
    padding-top: 14px;
}
.capitulo-introducao,
.capitulo-bonecas-computadores,
.capitulo-escola-esteriotipos,
.capitulo-exclusao-preconceito,
.capitulo-desafios-carreira,
.capitulo-porque-importa,
.capitulo-boas-praticas {
    padding: 42px 20px 70px 30px;
    background-color: #f6f6f4;
}
.capitulo-bonecas-computadores > article > img {
    width: 100%;
}
@media (min-width: 768px) {
    .capitulo-bonecas-computadores > article > img {
        max-width: 355px;
    }
}
.capitulo-bonecas-computadores > header > img,
.capitulo-escola-esteriotipos > header > img,
.capitulo-exclusao-preconceito > header > img,
.capitulo-desafios-carreira > header > img,
.capitulo-porque-importa > header > img,
.capitulo-boas-praticas > header > img {
	height: 143.7px;
    width: 200px;
    margin-bottom: 30px;
}
@media (min-width: 992px) {
    .capitulo > article > blockquote,
    .capitulo-bonecas-computadores > header > img,
    .capitulo-escola-esteriotipos > header > img,
    .capitulo-exclusao-preconceito > header > img,
    .capitulo-desafios-carreira > header > img,
    .capitulo-porque-importa > header > img,
    .capitulo-boas-praticas > header > img,
    .capitulo-bonecas-computadores > article > img {
        position: absolute;
        left: 66%;
        width: 26%;
    }
}


/* SUBCAPITULOS */
.subcapitulo {
    padding: 0 20px 0 30px;
    background-color: #f6f6f4;
}
.subcapitulo > header > h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.09;
    color: #8d8cbf;
    margin: 0;
}
.subcapitulo > header > h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    color: #333333;
    margin-bottom: 24px;
}
.subcapitulo > article > p {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 1.72;
    text-align: left;
    color: #4d4d4d;
    padding-bottom: 40px;
}
.subcapitulo > blockquote {
    padding: 0;
    margin: 0;
    border: none;
}
.subcapitulo > blockquote > cite {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    color: #8d8cbf;
    display: block;
    margin-bottom: 44px;
}
.subcapitulo-leitura-diversao blockquote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subcapitulo-leitura-diversao figure {
    width: 45%;
}
@media (min-width: 768px) {
    .subcapitulo-dificuldade-matematica blockquote,
    .subcapitulo-carreira-tecnologia blockquote {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .subcapitulo-dificuldade-matematica figure,
    .subcapitulo-carreira-tecnologia figure {
        width: 45%;
    }
}

/* OUTROS */
.logo-ca-technologies {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 194px;
    border-top: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    margin: 0 0 30px 0;
}
.logo-ca-technologies p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.07;
    color: #828282;
}


.questionario {
    margin-bottom: 44px;
    background-color: #f6f6f4;
}
.questionario h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #2727cc;
    margin-top: 48px;
}
.questionario ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.questionario ul li {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    color: #4d4d4d;
}
.questionario input[type=range] {
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 96px;
    background-color: #94eac4;
    border-radius: 3px;
    position: relative;
}
.questionario .button-outline {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #828282;
    display: block;
    width: 40px;
    height: 20px;
    margin-left: auto;
    border: solid 1px #828282;
    border-radius: 2px;
}
.questionario input[type=range]:focus {
    outline: none;
}
.questionario input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 29px;
    height: 76px;
    margin-top: 86px;
    background: url("../img/mao_resposta.svg") no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.questionario input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
.questionario input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.questionario input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}


.painel {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    color: #cccccc;
    padding: 25px;
    margin-bottom: 42px;
    background-color: #8d8cbf;
    border-radius: 8px;
}


.linha-tempo {
    padding: 20px;
    background-color: #8d8cbf;
}
.linha-tempo h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
	font-weight: bold;
	line-height: 1.09;
    color: #f0f0f0;
    margin: 0;
    padding-bottom: 12px;
}
.linha-tempo p {
    font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 1.25;
    color: #cccccc;
    margin-bottom: 20px;
}
.linha-tempo iframe {
	height: 550px;
    width: 100%;
}


.vagas-seletivas {
    padding: 20px;
    background-color: #8d8cbf;
}
.vagas-seletivas h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    text-transform: uppercase;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.vagas-seletivas .carousel figure {
    margin: 0;
}
.vagas-seletivas .carousel figcaption {
    font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.07;
	text-align: center;
	color: #2727cc;
}


.cite {
    padding: 45px 45px 45px 55px;
}
.cite blockquote {
    margin: 0;
}
.cite blockquote p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
	font-weight: bold;
	line-height: 1.36;
    margin-bottom: 18px;
}
.cite blockquote cite {
    font-family: 'Squada One', cursive;
	font-size: 16px;
	line-height: 1.25;
}
.cite.blue {
    background-color: #2727cc;
}
.cite.blue blockquote p {
    color: #5ae091;
}
.cite.blue blockquote cite {
    color: #cccccc;
}
.cite.green {
    background-color: #5ae091;
}
.cite.green blockquote p {
    color: #2727cc;
}
.cite.green blockquote cite {
    color: #828282;
}


.infografico {
    padding: 20px;
    background-color: #8d8cbf;
}
.infografico h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.infografico img {
    width: 100%;
}


.compartilhe {
    padding: 20px 30px;
    background-color: #94eac4;
}
.compartilhe  h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.compartilhe a {
    display: inline-block;
    max-height: 35px;
    max-width: 35px;
    text-decoration: none;
}
.compartilhe img {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.creditos {
    padding: 40px 30px 100px 30px;
    background-color: #f6f6f4;
}
.creditos h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.creditos dl {
    margin: 0;
}
.creditos dt {
    color: #2727cc;
    margin-right: .5rem;
}
.creditos dd {
	color: #dc4b4b;
}
.creditos dt, dd {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    margin-left: 0;
}
