/* FONTES */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Squada+One:400');


/* RESET */
body {
    margin: 0;
}
p {
    margin: 0;
}
strong {
    font-weight: 700;
}


/* GRAFICO */
.grafico {
    margin: 0 0 16px 0;
}
.grafico figcaption {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 1.15;
    text-align: left;
    color: #4d4d4d;
    margin: 0 0 30px 0;
}


/* CARROSSEL */
.carrossel {
    position: relative;
    overflow: hidden;
    width: 100%
}
[id^="carrossel__slide"] + figure {
    position: absolute;
    opacity: 0;
    transition: opacity .6s ease-out;
}
[id^="carrossel__slide"] + figure img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
[id^="carrossel__slide"]:checked + figure {
    position: static;
    opacity: 100
}
[class^="carrossel__controle"] {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    text-align: center;
    line-height: 28px;
    color: #2727cc;
    height: 30px;
    width: 30px;
    border: solid 1px #2727cc;
}
[class^="carrossel__controle"]:hover {
    background: #2727cc;
    color: #ffffff;
}
[class^="carrossel__controle"]:nth-child(odd) {
    left: 0;
}
[class^="carrossel__controle"]:nth-child(even) {
    right: 0;
}
#carrossel__slide1:checked ~ .carrossel__controle1,
#carrossel__slide2:checked ~ .carrossel__controle2,
#carrossel__slide3:checked ~ .carrossel__controle3,
#carrossel__slide4:checked ~ .carrossel__controle4,
#carrossel__slide5:checked ~ .carrossel__controle5,
#carrossel__slide6:checked ~ .carrossel__controle6,
#carrossel__slide7:checked ~ .carrossel__controle7,
#carrossel__slide8:checked ~ .carrossel__controle8,
#carrossel__slide9:checked ~ .carrossel__controle9 {
    display: block;
}


/* RANGE */
.range {
    position: relative;
    margin-top: 42px;
    margin-bottom: 100px;
}
.range__input {
    -webkit-appearance: none;
    width: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
}
.range__input:focus {
    outline: none;
}
.range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    height: 90px;
    width: 53px;
    padding: 0;
    margin: 5px 0 0 0;
    background-image: url('../img/mao_resposta.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.range__input::-moz-range-thumb {
    cursor: pointer;
    position: relative;
    height: 120px;
    width: 53px;
    padding: 0;
    margin: 5px 0 0 0;
    background-image: url('../img/mao_respostal.svg');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0px 58px;
    background-color: transparent;
    border: none;
}
.range__input::-ms-thumb {
    cursor: pointer;
    position: relative;
    height: 90px;
    width: 53px;
    padding: 0;
    margin: 5px 0 0 0;
    background-image: url('../img/mao_resposta.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.range__input::-webkit-slider-runnable-track {
    height: 10px;
    background-color: #5ae091;
}
.range__input::-moz-range-track {
    height: 10px;
    background-color: #5ae091;
}
.range__input::-ms-track {
    height: 10px;
    background-color: #5ae091;
}
.range__porcentagens {
    position: absolute;
    top: -9px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 51px);
    padding: 0;
    margin: 0 34px 0 17px;
    list-style: none;
}
.range__porcentagens li {
    height: 15px;
    width: 2px;
    background-color: #2727cc;
}
.range__porcentagens li:before {
    position: absolute;
    content: attr(data-numbero);
    top: -1em;
}
.range__porcentagens li:nth-child(1):before {
    margin-left: -4px; 
}
.range__porcentagens li:nth-child(2):before,
.range__porcentagens li:nth-child(3):before,
.range__porcentagens li:nth-child(4):before {
    margin-left: -8px; 
}
.range__porcentagens li:nth-child(5):before {
    margin-left: -12px; 
}
.range__porcentagem {
    position: absolute;
    top: 85px;
    font-family: 'Lato';
	font-size: 12px;
	font-weight: bold;
	color: #5ae091;
}
.range__resposta-certa {
    display: none;
    position: absolute;
    top: -36px;
    height: 43px;
    width: 2px;
    background-color: #2727cc;
}
.range__resposta-certa:after {
    position: absolute;
    top: -5px;
    width: 200px;
    font-family: Lato;
	font-size: 12px;
	font-weight: bold;
	color: #2727cc;
}
.range__resposta-certa.show {
    display: block;
}
#range1 ~ .range__resposta-certa {
    text-align: right;
    left: calc(17% + 7px);
}
#range1 ~ .range__resposta-certa:after {
    content: 'a resposta certa é 17%';
    margin-left: 10px;
    text-align: left;
}
#range2 ~ .range__resposta-certa {
    text-align: left;
    left: calc(79% - 24px);
}
#range2 ~ .range__resposta-certa:after {
    content: 'a resposta certa é 79%';
    margin-left: -210px;
    text-align: right;
}


/* CABECALHO */
.cabecalho {
    position: relative;
    height: 570px;
    background: url('../img/cabecalho/cabecalho-pequena.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cabecalho__titulo {
    position: absolute;
    left: 31px;
    right: 39px;
    bottom: 44.2px;
    color: #dc4b4b;
    margin: 0;
}
.cabecalho__titulo:before {
    position: absolute;
    bottom: 1px;
    left: -1px;
    content: 'Por que o machismo cria barreiras para as mulheres na tecnologia';
    color: #f0f0f0;
}
.cabecalho__titulo, 
.cabecalho__titulo:before {
    font-family: 'Squada One';
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 1.0;
}
@media (min-width: 768px) {
    .cabecalho__titulo {
        max-width: 45%;
    }
}
@media (min-width: 992px) {
    .cabecalho {
        background-image: url('../img/cabecalho/cabecalho-grande.svg');
    }
    .cabecalho__titulo {
        margin-left: 8%;
    }
}


/* CONTAINER */
@media (min-width: 768px) {
    .container {
        position: relative;
        max-width: 80%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 58%;
        margin-left: 8%;
    }
}


/* CAPITULOS */
.capitulo {
    position: relative;
}
.capitulo__titulo {
    font-family: 'Squada One';
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.capitulo__subtitulo {
    font-family: 'Lato';
    font-size: 18px;
    font-style: italic; 
    line-height: 1.39;
    color: #dc4b4b;
    margin: 0 0 30px 0;
}
.capitulo__texto-corrido {
    font-family: 'Libre Baskerville';
    font-size: 15px;
    line-height: 1.72;
    color: #4d4d4d;
}
.capitulo__texto-corrido + .capitulo__texto-corrido {
    padding-top: 2rem;
}
.capitulo__texto-corrido strong {
    font-weight: bold;
    font-size: 12pt;
}
.capitulo__texto-corrido a {
    text-decoration: none;
    border-bottom: 4px solid #5ae091;
}
.capitulo__texto-corrido a, 
.capitulo__texto-corrido a:hover,
.capitulo__texto-corrido a:active {
    color: currentColor;
}
.capitulo__citacao {
    margin: 35px 0 37px 30px;
    border: none;
}
.capitulo__citacao p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    color: #dc4b4b;
}
.capitulo__citacao cite {
    font-family: 'Squada One', cursive;
    font-size: 16px;
    line-height: 1.25;
    color: #828282;
    display: block;
    padding-top: 14px;
}
.capitulo-introducao,
.capitulo-bonecas-computadores,
.capitulo-escola-esteriotipos,
.capitulo-exclusao-preconceito,
.capitulo-desafios-carreira,
.capitulo-porque-importa,
.capitulo-reprogramando-tecnologia,
.capitulo-continuacao {
    padding: 41.2px 20px 42.9px 30px;
    background-color: #f6f6f4;
}

.capitulo-introducao .logo-ca-technologies {
    margin: 0 0 31.5px 0;
}
.capitulo-introducao .capitulo__subtitulo {
    margin-bottom: 68.3px;
}

.capitulo-bonecas-computadores {
    padding-top: 0;
}
.capitulo-bonecas-computadores .container_conteudo > img {
    width: 100%;
}
@media (min-width: 768px) {
    .capitulo-bonecas-computadores .container_conteudo > img {
        max-width: 355px;
    }
}
.capitulo-bonecas-computadores .capitulo__ilustracao,
.capitulo-escola-esteriotipos .capitulo__ilustracao,
.capitulo-exclusao-preconceito .capitulo__ilustracao,
.capitulo-desafios-carreira .capitulo__ilustracao,
.capitulo-porque-importa .capitulo__ilustracao,
.capitulo-reprogramando-tecnologia .capitulo__ilustracao {
	height: 143.7px;
    width: 200px;
    margin-bottom: 30px;
}
@media (min-width: 992px) {
    .capitulo .container_cabecalho, .capitulo .container_conteudo {
        position: relative;
    }

    .capitulo .capitulo__citacao,
    .capitulo-bonecas-computadores .capitulo__ilustracao,
    .capitulo-escola-esteriotipos .capitulo__ilustracao,
    .capitulo-exclusao-preconceito .capitulo__ilustracao,
    .capitulo-desafios-carreira .capitulo__ilustracao,
    .capitulo-porque-importa .capitulo__ilustracao,
    .capitulo-reprogramando-tecnologia .capitulo__ilustracao,
    .capitulo-bonecas-computadores .container_conteudo img {
        position: absolute;
        left: 100%;
        width: 26%;
        padding-left: 20px;
        margin: 0;
    }
    .capitulo-bonecas-computadores .container_conteudo img {
        bottom: 70px;
    }
    
    .capitulo-escola-esteriotipos .capitulo__citacao {
        margin-top: 8%;
    }
    
    .capitulo-exclusao-preconceito .capitulo__citacao {
        top: 50%;
    }
}


/* SUBCAPITULOS */
.subcapitulo {
    padding: 0 20px 42.9px 30px;
    background-color: #f6f6f4;
}
.subcapitulo__titulo {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.09;
    color: #8d8cbf;
    margin: 0;
}
.subcapitulo__subtitulo {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    color: #333333;
    margin-bottom: 24px;
}
.subcapitulo__texto-corrido {
    font-family: 'Libre Baskerville';
    font-size: 15px;
    line-height: 1.72;
    color: #4d4d4d;
}
.subcapitulo__texto-corrido + .subcapitulo__texto-corrido {
    padding-top: 2rem;
}
.subcapitulo__texto-corrido strong {
    font-weight: bold;
    font-size: 12pt;
}
.subcapitulo__texto-corrido a {
    text-decoration: none;
    border-bottom: 4px solid #5ae091;
}
.subcapitulo__texto-corrido a, 
.subcapitulo__texto-corrido a:hover,
.subcapitulo__texto-corrido a:active {
    color: currentColor;
}
.subcapitulo__citacao {
    padding: 0;
    margin: 0;
    border: none;
}
.subcapitulo__citacao cite {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    color: #8d8cbf;
    display: block;
    width: 100%;
    margin-bottom: 44px;
}
.subcapitulo-leitura-diversao .subcapitulo__citacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subcapitulo-leitura-diversao .subcapitulo__citacao figure {
    width: 45%;
}
@media (min-width: 768px) {
    .subcapitulo-dificuldade-matematica .subcapitulo__citacao,
    .subcapitulo-carreira-tecnologia .subcapitulo__citacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .subcapitulo-dificuldade-matematica .subcapitulo__citacao figure,
    .subcapitulo-carreira-tecnologia .subcapitulo__citacao figure {
        width: 45%;
    }
}
@media (min-width: 1024px) {
    .subcapitulo-dificuldade-matematica .subcapitulo__citacao,
    .subcapitulo-leitura-diversao .subcapitulo__citacao,
    .subcapitulo-carreira-tecnologia .subcapitulo__citacao {
        justify-content: flex-start;
    }
    .subcapitulo-dificuldade-matematica .subcapitulo__citacao figure, 
    .subcapitulo-carreira-tecnologia .subcapitulo__citacao figure {
        width: 30%;
        margin-right: 30px;
    }
    .subcapitulo-leitura-diversao .subcapitulo__citacao figure {
        width: 20%;
        margin-right: 70px;
    }
    .subcapitulo-futura-carreira .subcapitulo__citacao figure {
        width: 50%;
    }
}

/* OUTROS */
.logo-ca-technologies {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    width: 150px;
    border-top: 3px solid #d8d8d8;
    border-bottom: 3px solid #d8d8d8;
    padding: 15px 0 16px 0;

}
.logo-ca-technologies img {
    height: 41.5px;
}
.logo-ca-technologies p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.07;
    color: #828282;
    padding-bottom: 5px;
}


.teste {
    margin-bottom: 44px;
    background-color: #f6f6f4;
}
.teste__titulo {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
    color: #2727cc;
    margin: 0 0 15px 0;
}
.teste__pergunta + .teste__pergunta {
    margin-top: 59px;
}
.teste__pergunta__enunciado {
    font-family: 'Lato';
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    color: #4d4d4d;
}
.teste__pergunta__botao {
    font-family: 'Lato';
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #5ae091;
    display: block;
    height: 19.9px;
    width: 39.7px;
    padding: 0;
    margin-left: auto;
    border: solid 1px #5ae091;
    border-radius: 2px;
    background-color: #f6f6f4;
}
.teste__pergunta__botao:hover {
    color: #ffffff;
    border-color: #5ae091;
    background-color: #5ae091;
}
.teste__pergunta__botao:disabled {
    color: #828282;
    border: solid 1px #828282;
}
.teste__pergunta__botao:hover:disabled {
    background-color: #f6f6f4;
}
.teste__pergunta__respostas {
    position: relative;
}
.teste__pergunta__explicacao {
    display: none;
    font-family: 'Libre Baskerville';
    font-size: 11px;
    line-height: 1.36;
    color: #4d4d4d;
}
.teste__pergunta__explicacao.show {
    display: inline-block;
    width: 70.37%;
}
.teste__pergunta__explicacao.show + .teste__pergunta__botao {
    vertical-align: top;
    float: right;
}


.painel {
    display: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    color: #cccccc;
    padding: 25px;
    margin-bottom: 42.1px;
    background-color: #8d8cbf;
    border-radius: 8px;
}
.painel.show {
    display: block;
}


.linha-tempo {
    padding: 41.2px 20px 42.9px 30px;
    background-color: #8d8cbf;
}
.linha-tempo h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
	font-weight: bold;
	line-height: 1.09;
    color: #f0f0f0;
    margin: 0;
    padding-bottom: 12px;
}
.linha-tempo p {
    font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 1.25;
    color: #cccccc;
    margin-bottom: 20px;
}
.linha-tempo iframe {
	height: 550px;
    width: 100%;
}


.vagas-seletivas {
    padding: 41.2px 20px 42.9px 30px;
    background-color: #8d8cbf;
}
.vagas-seletivas h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    text-transform: uppercase;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.vagas-seletivas .carrossel figure {
    margin: 0;
}
.vagas-seletivas .carrossel figcaption {
    font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.07;
	text-align: center;
	color: #2727cc;
}
@media (min-width: 992px) {
    .vagas-seletivas h1, .vagas-seletivas .carrossel {
        width: 84%;
        margin-left: 8%;
    }
}


.cite {
    padding: 41.2px 20px 42.9px 30px
}
.cite blockquote {
    margin: 0;
}
.cite blockquote p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
	font-weight: bold;
	line-height: 1.36;
    margin-bottom: 18px;
}
.cite blockquote cite {
    font-family: 'Squada One', cursive;
	font-size: 16px;
	line-height: 1.25;
}
.cite.blue {
    background-color: #2727cc;
}
.cite.blue blockquote p {
    color: #5ae091;
}
.cite.blue blockquote cite {
    color: #cccccc;
}
.cite.green {
    background-color: #5ae091;
}
.cite.green blockquote p {
    color: #2727cc;
}
.cite.green blockquote cite {
    color: #828282;
}


.infografico {
    padding: 41.2px 20px 42.9px 30px;
    background-color: #94eac4;
}
.infografico .container {
    position: relative;
    padding-left: 30px;
}
.infografico .container:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    content: '';
    background-image: url('../img/detalhe-esquerda.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.infografico h1 {
    font-family: 'Lato';
	font-size: 18px;
	font-weight: bold;
    color: #8d8cbf;
    margin-bottom: 45.7px;
}
.infografico blockquote {
    margin: 0;
}
.infografico img {
    display: block;
    width: 100px;
    margin-bottom: 10px;
    object-fit: contain;
	border: 1px solid #979797;
}
.infografico figure {
    margin: 0;
}
.infografico figcaption {
    font-family: 'Lato';
	font-size: 14px;
	font-weight: bold;
	line-height: 1.43;
    color: #8d8cbf;
}
.infografico figure:not(:last-child) figcaption {
    margin-bottom: 30px;
}
.infografico cite {
    font-family: 'Lato';
	font-size: 13px;
	line-height: 1.15;
	color: #4d4d4d;
}
@media (min-width: 768px) {
    .infografico figure {
        display: flex;
        align-items: center;
    }
    .infografico figure:nth-child(even) {
        flex-direction: row-reverse;
    }
    .infografico figure:nth-child(odd) img {
        margin-right: 15px; 
    }
    .infografico figure:nth-child(even) img {
        margin-left: 15px; 
    }
}
@media (min-width: 992px) {
    .infografico blockquote {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .infografico figure {
        width: 48%;
    }
    .infografico figure:nth-child(even) {
        flex-direction: row;
    }
    .infografico figure:nth-child(even) img {
        margin-left: 0; 
        margin-right: 15px; 
    }
    .infografico figure:nth-child(3), .infografico figure:nth-child(4) {
        flex-direction: row-reverse;
    }
    .infografico figure:nth-child(3) img, .infografico figure:nth-child(4) img {
        margin-left: 15px;
    }
    .infografico cite {
        width: 100%;
        text-align: center;
    }
}


.compartilhe {
    padding: 20px 30px;
    background-color: #94eac4;
}
.compartilhe h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.compartilhe a {
    display: inline-block;
    max-height: 35px;
    max-width: 35px;
    text-decoration: none;
}
.compartilhe img {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.creditos {
    padding: 47.6px 30px 64px 30px;
    background-color: #f6f6f4;
}
.creditos h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.creditos dl {
    margin: 0;
}
.creditos dt {
    color: #2727cc;
    margin-right: .5rem;
}
.creditos dd {
	color: #dc4b4b;
}
.creditos dt, dd {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    margin-left: 0;
}

.menu {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu a {    
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    min-width: 200px;
    color: transparent;
    text-decoration: none;
}
.menu a:after {
    background-color: #cccccc;
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    margin-left: auto;
    transition: width .25s ease-in-out,background-color .25s ease-in-out;
}
.menu a.active:after {
    background-color: #5ae091;
}
.menu a:hover {
    color: #5ae091;
}
.menu a:hover:after {
    width: 60px;
    animation-fill-mode: forwards;
}
.menu a span {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 70px;
    font-family: 'Squada One';
	font-size: 20px;
	text-align: right;
	color: #5ae091;
    opacity: 0;
    white-space: nowrap;
    will-change: transform;
    transition: transform .25s ease-in-out,opacity .25s ease-in-out;
}
.menu a:hover span {
    opacity: 1;
    transform: translate(-20px,-50%);
}
