@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Squada+One:400');

/* VARIAVEIS*/
:root {
    font-squada-one: 'Squada One';
    font-normal: normal;
    font-regular: 400;
}

body {
    margin: 0;
}
p {
    margin: 0;
}
strong {
    font-weight: 700;
}


/* GRAFICO */
.grafico {
    margin: 0 0 16px 0;
}
.grafico figcaption {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 1.15;
    text-align: left;
    color: #4d4d4d;
    margin: 0 0 30px 0;
}


/* CARROSSEL */
.carrossel {
    position: relative;
    overflow: hidden;
    width: 100%
}
[id^="carrossel__slide"] + figure {
    position: absolute;
    opacity: 0;
    transition: opacity .6s ease-out;
}
[id^="carrossel__slide"] + figure img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
[id^="carrossel__slide"]:checked + figure {
    position: static;
    opacity: 100
}
[class^="carrossel__controle"] {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    text-align: center;
    line-height: 28px;
    color: #2727cc;
    height: 30px;
    width: 30px;
    border: solid 1px #2727cc;
}
[class^="carrossel__controle"]:hover {
    background: #2727cc;
    color: #ffffff;
}
[class^="carrossel__controle"]:nth-child(odd) {
    left: 0;
}
[class^="carrossel__controle"]:nth-child(even) {
    right: 0;
}
#carrossel__slide1:checked ~ .carrossel__controle1,
#carrossel__slide2:checked ~ .carrossel__controle2,
#carrossel__slide3:checked ~ .carrossel__controle3,
#carrossel__slide4:checked ~ .carrossel__controle4,
#carrossel__slide5:checked ~ .carrossel__controle5,
#carrossel__slide6:checked ~ .carrossel__controle6,
#carrossel__slide7:checked ~ .carrossel__controle7,
#carrossel__slide8:checked ~ .carrossel__controle8,
#carrossel__slide9:checked ~ .carrossel__controle9 {
    display: block;
}


/* CABECALHO */
.cabecalho {
    position: relative;
    height: 570px;
    background: url("../img/cabecalho/cabecalho-pequena.svg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@media (min-width: 992px) {
    .cabecalho {
        background: url("../img/cabecalho/cabecalho-grande.svg") no-repeat;
    }
}
.cabecalho h1, .cabecalho h1:before {
    font-family: 'Squada One';
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 1.0;
}
.cabecalho h1 {
    position: absolute;
    left: 31px;
    right: 39px;
    bottom: 44.2px;
    color: #dc4b4b;
    margin: 0;
}
.cabecalho h1:before {
    position: absolute;
    bottom: 1px;
    left: -1px;
    content: 'Por que o machismo cria barreiras para as mulheres na tecnologia';
    color: #f0f0f0;
}

@media (min-width: 768px) {
    .cabecalho h1 {
        max-width: 45%;
    }
}
@media (min-width: 992px) {
    .cabecalho h1 {
        margin-left: 8%;
    }
}


/* CONTAINER */
@media (min-width: 768px) {
    .container section header, 
    .container section article {
        max-width: 80%;
    }
}
@media (min-width: 992px) {
    .container section header, 
    .container section article {
        max-width: 58%;
        margin-left: 8%;
    }
}


/* CAPITULOS */
.capitulo {
    position: relative;
}
.capitulo__titulo {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.capitulo__subtitulo {
    font-family: 'Lato';
    font-size: 18px;
    font-style: italic; 
    line-height: 1.39;
    color: #dc4b4b;
    margin: 0;
}
.capitulo__texto-corrido {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    line-height: 1.72;
    color: #4d4d4d;
}
.capitulo > article > p:not(:first-child) {
    padding-top: 2rem;
}
.capitulo > article > blockquote {
    border: none;
}
.capitulo > article > blockquote > p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    color: #dc4b4b;
}
.capitulo > article > blockquote > cite {
    font-family: 'Squada One', cursive;
    font-size: 16px;
    line-height: 1.25;
    color: #828282;
    padding-top: 14px;
}
.capitulo-introducao .logo-ca-technologies {
    margin: 0 0 31.5px 0;
}
.capitulo-introducao .capitulo__subtitulo {
    margin-bottom: 68.3px;
}
.capitulo-introducao,
.capitulo-bonecas-computadores,
.capitulo-escola-esteriotipos,
.capitulo-exclusao-preconceito,
.capitulo-desafios-carreira,
.capitulo-porque-importa,
.capitulo-boas-praticas {
    padding: 41.2px 20px 42.9px 30px;
    background-color: #f6f6f4;
}
.capitulo-bonecas-computadores > article > img {
    width: 100%;
}
@media (min-width: 768px) {
    .capitulo-bonecas-computadores > article > img {
        max-width: 355px;
    }
}
.capitulo-bonecas-computadores > header > img,
.capitulo-escola-esteriotipos > header > img,
.capitulo-exclusao-preconceito > header > img,
.capitulo-desafios-carreira > header > img,
.capitulo-porque-importa > header > img,
.capitulo-boas-praticas > header > img {
	height: 143.7px;
    width: 200px;
    margin-bottom: 30px;
}
@media (min-width: 992px) {
    .capitulo > article > blockquote,
    .capitulo-bonecas-computadores > header > img,
    .capitulo-escola-esteriotipos > header > img,
    .capitulo-exclusao-preconceito > header > img,
    .capitulo-desafios-carreira > header > img,
    .capitulo-porque-importa > header > img,
    .capitulo-boas-praticas > header > img,
    .capitulo-bonecas-computadores > article > img {
        position: absolute;
        left: 66%;
        width: 26%;
    }
    .capitulo-bonecas-computadores > article > img {
        bottom: 70px;
    }
    .capitulo-escola-esteriotipos > article > blockquote {
        margin-top: 8%;
    }
    .capitulo-exclusao-preconceito > article > blockquote {
        top: 50%;
    }
}


/* SUBCAPITULOS */
.subcapitulo {
    padding: 0 20px 0 30px;
    background-color: #f6f6f4;
}
.subcapitulo > header > h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.09;
    color: #8d8cbf;
    margin: 0;
}
.subcapitulo > header > h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    color: #333333;
    margin-bottom: 24px;
}
.subcapitulo > article > p {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 1.72;
    text-align: left;
    color: #4d4d4d;
    padding-bottom: 40px;
}
.subcapitulo > blockquote {
    padding: 0;
    margin: 0;
    border: none;
}
.subcapitulo > blockquote > cite {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    color: #8d8cbf;
    display: block;
    margin-bottom: 44px;
}
.subcapitulo-leitura-diversao blockquote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subcapitulo-leitura-diversao figure {
    width: 45%;
}
@media (min-width: 768px) {
    .subcapitulo-dificuldade-matematica blockquote,
    .subcapitulo-carreira-tecnologia blockquote {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .subcapitulo-dificuldade-matematica figure,
    .subcapitulo-carreira-tecnologia figure {
        width: 45%;
    }
}

/* OUTROS */
.logo-ca-technologies {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    width: 200px;
    border-top: 3px solid #d8d8d8;
    border-bottom: 3px solid #d8d8d8;
    padding: 15px 0 16px 0;

}
.logo-ca-technologies p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.07;
    color: #828282;
    padding-bottom: 5px;
}


.teste {
    margin-bottom: 44px;
    background-color: #f6f6f4;
}
.teste__titulo {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
    color: #2727cc;
    margin: 0 0 15px 0;
}
.teste__pergunta + .teste__pergunta {
    margin-top: 59px;
}
.teste__pergunta__enunciado {
    font-family: 'Lato';
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    color: #4d4d4d;
}
.teste__pergunta__botao {
    font-family: 'Lato';
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #828282;
    display: block;
    height: 19.9px;
    width: 39.7px;
    padding: 0;
    margin-left: auto;
    border: solid 1px #828282;
    border-radius: 2px;
    background: #f6f6f4;
}
.teste__pergunta__respostas {
    position: relative;
}


.range {
    position: relative;
}
.range__barra {
    height: 10px;
    background-color: #94eac4;
}
.range__cursor {
    position: absolute;
    cursor: pointer;
	height: 31.7px;
    width: 1.8px;
    background-color: #5ae091;
}
.range__cursor:before {
    content: '';
    position: absolute;
    top: 31.7px;
    left: -16px;
    width: 37.7px;
    height: 42.2px;
    background-image: url(../img/mao_resposta.png);
    background-repeat: no-repeat;
    background-position: 9px 0px;
}
.range__cursor:after {
    pointer-events: none;
}
.range__cursor.left:after,
.range__cursor.right:after,
.range__cursor.center:after {
    position: absolute;
    width: 200px;
    content: 'sua reposta é 'attr(data-porcentagem);
    color: #5ae091;
}
.range__cursor.left:after,
.range__cursor.right:after {
    top: 50px;
}
.range__cursor.left:after {
    right: 22px;
    text-align: right;
}
.range__cursor.right:after {
    left: 35px;
    text-align: left;
}
.range__cursor.center:after {
    top: 80px;
    right: -100px;
    text-align: center;
}
.range__labels {
    position: absolute;
    top: -9px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.range__labels li {
    height: 15px;
    width: 2px;
    background-color: #2727cc;
}
.range__labels li:before {
    position: absolute;
    content: attr(data-numbero);
    top: -1em;
}
.range__labels li:nth-child(1):before {
    margin-left: -4px; 
}
.range__labels li:nth-child(2):before,
.range__labels li:nth-child(3):before,
.range__labels li:nth-child(4):before {
    margin-left: -8px; 
}
.range__labels li:nth-child(5):before {
    margin-left: -12px; 
}


.painel {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    color: #cccccc;
    padding: 25px;
    margin-bottom: 42px;
    background-color: #8d8cbf;
    border-radius: 8px;
}


.linha-tempo {
    padding: 20px;
    background-color: #8d8cbf;
}
.linha-tempo h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
	font-weight: bold;
	line-height: 1.09;
    color: #f0f0f0;
    margin: 0;
    padding-bottom: 12px;
}
.linha-tempo p {
    font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 1.25;
    color: #cccccc;
    margin-bottom: 20px;
}
.linha-tempo iframe {
	height: 550px;
    width: 100%;
}


.vagas-seletivas {
    padding: 20px;
    background-color: #8d8cbf;
}
.vagas-seletivas h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    text-transform: uppercase;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.vagas-seletivas .carrossel figure {
    margin: 0;
}
.vagas-seletivas .carrossel figcaption {
    font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.07;
	text-align: center;
	color: #2727cc;
}


.cite {
    padding: 45px 45px 45px 55px;
}
.cite blockquote {
    margin: 0;
}
.cite blockquote p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
	font-weight: bold;
	line-height: 1.36;
    margin-bottom: 18px;
}
.cite blockquote cite {
    font-family: 'Squada One', cursive;
	font-size: 16px;
	line-height: 1.25;
}
.cite.blue {
    background-color: #2727cc;
}
.cite.blue blockquote p {
    color: #5ae091;
}
.cite.blue blockquote cite {
    color: #cccccc;
}
.cite.green {
    background-color: #5ae091;
}
.cite.green blockquote p {
    color: #2727cc;
}
.cite.green blockquote cite {
    color: #828282;
}


.infografico {
    padding: 20px;
    background-color: #8d8cbf;
}
.infografico h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.infografico img {
    width: 100%;
}


.compartilhe {
    padding: 20px 30px;
    background-color: #94eac4;
}
.compartilhe  h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.compartilhe a {
    display: inline-block;
    max-height: 35px;
    max-width: 35px;
    text-decoration: none;
}
.compartilhe img {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.creditos {
    padding: 40px 30px 100px 30px;
    background-color: #f6f6f4;
}
.creditos h1 {
    font-family: 'Squada One', cursive;
    font-size: 42px;
    line-height: 0.83;
    color: #2727cc;
    margin: 0;
    padding-bottom: 12px;
}
.creditos dl {
    margin: 0;
}
.creditos dt {
    color: #2727cc;
    margin-right: .5rem;
}
.creditos dd {
	color: #dc4b4b;
}
.creditos dt, dd {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    margin-left: 0;
}
